{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}

{% if id == current_user.id %}

    <h1>Update user</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="/update/{{name_to_update.id}}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", value=name_to_update.name) }}
            <br/>
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", value=name_to_update.username) }}
            <br/>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", value=name_to_update.email) }}
            <br/>
            {{ form.hobby.label(class="form-label") }}
            {{ form.hobby(class="form-control", value=name_to_update.hobby) }}
            <br/>
            {{ form.about_author.label(class="form-label") }}
            {{ form.about_author(class="form-control", value=name_to_update.about_author) }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}

            
        </form>
    </div>
    <br/><br/><br/>
{% else %}   
<div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
    Error!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h1>Access denied!</h1>
<p>Sorry, you cannot access this profile.</p>
{% endif %}
    

{% endblock %}
